.flag{
    background-color: yellow;
    height: 250px;
    width: 1300px;
}
.messsage{
    background-color: red;
    height: 250px;
    width: 1300px;
}
.move{
    position: absolute;
    animation: moveLeftToRight 8s linear infinite;
}
@keyframes moveLeftToRight{
    0% {left: -1300px;}
    100% {right: 13;}
}